{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions", "safari >= 10", "Explorer 11"]
      }
    }]
  ],
  "plugins": [
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }],
    ["module-resolver", {
      "alias": {
        "@utils": "@tanshio/ore-js-utils/src"
      }
    }]
  ]
}
