//- base.jade
doctype html
block vars
  - var custom = "variable"
  if path === 'index'
    - path = 'home'

html(xmlns:og='http://ogp.me/ns#', xmlns:fb='https://www.facebook.com/2008/fbml')
  head
    block title
      //- - var title = "aaa";
      title #{aaa}

    block meta
      include ../meta/_default

  body(class='#{path}')
    block header
      header
        nav
          ul
            li top


    block content

    block footer
      footer
        p footer
      script(src="js/main.js")
