// アニメーション


@keyframes DASH{
	0%  {stroke-dashoffset:3000;fill:rgba(0,0,0,0.00)}
	50% {stroke-dashoffset:1500;fill:rgba(0,0,0,0.00);stroke-width:1;}
	100%{stroke-dashoffset:0;fill:#FFF;stroke-width:0;}
	}

@keyframes offset{
	0%  {opacity: 0}
	100%{opacity: 1}
}

@keyframes fadeOut{
	0%  {opacity: 1}
	100%{opacity: 0}
}

@keyframes fadeIn{
	0%  {opacity: 0}
	100%{opacity: 1}
}

@keyframes DASH2{
	0%  {stroke-dashoffset:3000;fill:rgba(0,0,0,0.00);}
	70%  {stroke-dashoffset:2000;fill:rgba(0,0,0,0.00);stroke-width:1;}
	100%{stroke-dashoffset:0;fill:#fff;stroke-width:0;}
}

@keyframes DASH2-1{
    0%  {stroke-dashoffset:3000;fill:rgba(0,0,0,0.00);}
	80%  {stroke-dashoffset:2000;fill:rgba(0,0,0,0.00);stroke-width:1;}
    100%{stroke-dashoffset:0;fill:#000;stroke-width:0;}
}

@keyframes DASH3-1{
	0%  {stroke-dashoffset:3000;fill:rgba(0,0,0,0.00);}
	80%  {stroke-dashoffset:2000;fill:rgba(0,0,0,0.00);stroke-width:1;}
	100%{stroke-dashoffset:0;fill:#1B8BB7;stroke-width:0;}
}
