@import "normalize.css";
@import "_var.css";

body {
   font-family: "Roboto";
  background-color: var(--color2);
   @media (--small-viewport) {
     background: gray;
   }
}


.list {
  width: 100%;

  &__item {
    color: var(--color);
    font-size: 24px;
  }
  & a {
    color: #333;
    &:hover {
      color: blue;
    }
  }
  & + & {
    color: white;
    display: flex;
    & .foo { flex: 1; }
  }
}
