@import 'settings';
@import 'utilities';
@import 'layouts';
@import 'modules';


html,
body.sg {
  width: 100%;
  height: 100%;
}

.sg.view-index {
  height: 100%;
}

.sg {
  box-sizing: border-box;
}


